<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pick_pro.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>21F1C53642DDEBFD5B85BB0E68A3E7F65491DF55</string>
				<key>dateExpires</key>
				<string>2024-08-04</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21F1C53642DDEBFD5B85BB0E68A3E7F65491DF55</string>
						<key>dateExpires</key>
						<string>2024-08-04</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2B25FGB3D2</string>
						<key>name</key>
						<string>David Tam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21F1C53642DDEBFD5B85BB0E68A3E7F65491DF55</string>
						<key>dateExpires</key>
						<string>2024-08-04</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2B25FGB3D2</string>
						<key>name</key>
						<string>David Tam</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21F1C53642DDEBFD5B85BB0E68A3E7F65491DF55</string>
						<key>dateExpires</key>
						<string>2024-08-04</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2B25FGB3D2</string>
						<key>name</key>
						<string>David Tam</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21F1C53642DDEBFD5B85BB0E68A3E7F65491DF55</string>
						<key>dateExpires</key>
						<string>2024-08-04</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2B25FGB3D2</string>
						<key>name</key>
						<string>David Tam</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21F1C53642DDEBFD5B85BB0E68A3E7F65491DF55</string>
						<key>dateExpires</key>
						<string>2024-08-04</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2B25FGB3D2</string>
						<key>name</key>
						<string>David Tam</string>
					</dict>
					<key>versionNumber</key>
					<string>5.17.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21F1C53642DDEBFD5B85BB0E68A3E7F65491DF55</string>
						<key>dateExpires</key>
						<string>2024-08-04</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2B25FGB3D2</string>
						<key>name</key>
						<string>David Tam</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21F1C53642DDEBFD5B85BB0E68A3E7F65491DF55</string>
						<key>dateExpires</key>
						<string>2024-08-04</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2B25FGB3D2</string>
						<key>name</key>
						<string>David Tam</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21F1C53642DDEBFD5B85BB0E68A3E7F65491DF55</string>
						<key>dateExpires</key>
						<string>2024-08-04</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audioplayers_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2B25FGB3D2</string>
						<key>name</key>
						<string>David Tam</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21F1C53642DDEBFD5B85BB0E68A3E7F65491DF55</string>
						<key>dateExpires</key>
						<string>2024-08-04</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2B25FGB3D2</string>
						<key>name</key>
						<string>David Tam</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21F1C53642DDEBFD5B85BB0E68A3E7F65491DF55</string>
						<key>dateExpires</key>
						<string>2024-08-04</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_media_metadata.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2B25FGB3D2</string>
						<key>name</key>
						<string>David Tam</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21F1C53642DDEBFD5B85BB0E68A3E7F65491DF55</string>
						<key>dateExpires</key>
						<string>2024-08-04</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2B25FGB3D2</string>
						<key>name</key>
						<string>David Tam</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21F1C53642DDEBFD5B85BB0E68A3E7F65491DF55</string>
						<key>dateExpires</key>
						<string>2024-08-04</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2B25FGB3D2</string>
						<key>name</key>
						<string>David Tam</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>21F1C53642DDEBFD5B85BB0E68A3E7F65491DF55</string>
						<key>dateExpires</key>
						<string>2024-08-04</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2B25FGB3D2</string>
						<key>name</key>
						<string>David Tam</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2B25FGB3D2.com.example.pickPro</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2B25FGB3D2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4c206234-aaa0-4091-833e-914456e3947c</string>
				<key>dateExpires</key>
				<string>2024-08-04</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.example.pickPro</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2B25FGB3D2</string>
				<key>name</key>
				<string>David Tam</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
